.escondido{
    display: none !important;
}

.esquerda{
    justify-content: left;
}

#sombra{
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    4px 4px 9px 0px rgba(0, 0, 0, 1);
    box-shadow:         4px 4px 9px 0px rgba(0, 0, 0, 1);
    }

#sombra2{
    -webkit-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    4px 4px 11px 0px rgba(0, 0, 0, 1);
    box-shadow:         4px 4px 11px 0px rgba(0, 0, 0, 1);
}
    


