<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SC3A - Dashboard</title>
    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="assets/css/estilo.css" rel="stylesheet">
    <!-- For mobile phones: -->
    <style type="text/css">
      @media only screen and (max-width: 600px) {
        body {
          width: 300px;
        }
      }
    </style>
  </head>
  <body style="background-color:#222046;">
    <nav id="nav-inicio" class="navbar navbar-expand-lg d-none d-sm-block" style="background-color:#222046; color:#fff">
      <a class="navbar-brand" href="#" style="text-decoration:none; color: #fff">
        <img src="assets/img/plantar.png" width="40px" height="40px">&#160;&#160;SC3A </a>
      <div id="config-start" class="navbar-brand" style="float: right">
        <input type="image" src="assets/img/config.png" width="40px" height="40px">
      </div>
    </nav>
    <!-- CONTEÚDO -->
    <div id="corpo-config" class="container-fluid escondido">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card" style="background-color: #191835; color: #fff; height: 100%" id="sombra">
            <div class="card-header">
              <div id="ativa_a" class="form-check" style="float: right"></div>
              <h6>Configuração do Ciclo A</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046; height: 100%">
                <form>
                  <div class="form-row">
                    <div id="intervalo_a" class="form-group col-md-12"></div>
                    <div id="umidade_a" class="form-group col-md-12"></div>
                    <div id="vazao_a" class="form-group col-md-12"></div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3 sombra2" style="float: right; margin-bottom: 15px" id="botao-01"> Salvar </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- CICLO B -->
        <div class="col-md-6">
          <div class="card" style="background-color: #191835; color: #fff; height: 100%" id="sombra">
            <div class="card-header">
              <div id="ativa_b" class="form-check" style="float: right"></div>
              <h6>Configuração do Ciclo B</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046; height: 100%">
                <form>
                  <div class="form-row">
                    <div id="intervalo_b" class="form-group col-md-12"></div>
                    <div id="umidade_b" class="form-group col-md-12"></div>
                    <div id="vazao_b" class="form-group col-md-12"></div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3 sombra2" style="float: right; margin-bottom: 15px" id="botao-02"> Salvar </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CICLO C -->
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card sombra" style="background-color: #191835; color: #fff; height: 100%">
            <div class="card-header">
              <div id="ativa_c" class="form-check" style="float: right"></div>
              <h6>Configuração do Ciclo C</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046; height: 100%">
                <form>
                  <div class="form-row">
                    <div id="intervalo_c" class="form-group col-md-12"></div>
                    <div id="umidade_c" class="form-group col-md-12"></div>
                    <div id="vazao_c" class="form-group col-md-12"></div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3 sombra2" style="float: right; margin-bottom: 15px" id="botao-03"> Salvar </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- CONFIGURAÇÃO DE TEMPERATURA -->
        <div class="col-md-6">
          <div class="card" style="background-color: #191835; color: #fff; height: 100%" id="sombra">
            <div class="card-header">
              <h6>Configuração de Temperatura</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046; height: 100%">
                <form>
                  <div class="form-row">
                    <div id="temperatura_a" class="form-group col-md-12">
                      
                    </div>
                  </div>
                  <div class="form-group" style="margin-top: 170px;">
                    <button type="submit" class="btn btn-success mt-3 sombra2" style="float: right; margin-bottom: 15px;" id="botao-04"> Salvar </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success sombra2" id="voltar" style="float: right;margin-top: 20px;margin-bottom: 30px;"> Voltar </button>
    </div>
    <div id="dashboard" class="container-fluid">
      <!-- Gráfico de Temperatura -->
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card sombra" style="background-color:#191835; color:#fff;height: 100%;">
            <div class="card-header">
              <h6>Temperatura Atual</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;height: 100%;">
                <!-- Tempo real na cidade -->
                <div class="row">
                  <div class="col-12 text-center mt-2">
                    <h6 id="city"></h6>
                  </div>
                </div>
                <!-- Temperautra no momento -->
                <div class="row">
                  <div class="col-12 text-center">
                    <span id="current-weather-icon" class="-image">
                      <img src="assets/img/nuvem.png" width="75" height="75">
                    </span>
                    <span class="h3" id="temp"></span>
                  </div>
                </div>
                <!-- Nascer do Sol -->
                <div class="row mt-3">
                  <div class="col-6">
                    <div class="card" style="background-color:#191835; color:#fff;height: 100%;">
                      <!-- <div class="card-header text-center"><h6>Nascer do Sol</h6></div> -->
                      <div class="card-body">
                        <div class="container text-center" style="background-color: #222046;margin-top:5px;height: 100%;" id="sombra2">
                          <img src="assets/img/sunrise.png" width="55" height="55">
                          <span class="h6" id="nascer"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Por do Sol -->
                  <div class="col-6">
                    <div class="card" style="background-color:#191835; color:#fff;height: 100%;">
                      <!-- <div class="card-header text-center"><h6>Pôr do Sol</h6></div> -->
                      <div class="card-body">
                        <div class="container text-center" style="background-color: #222046;margin-top:5px;height: 100%;" id="sombra2">
                          <span class="h6" id="por"></span>
                          <img src="assets/img/sunset.png" width="55" height="55">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Umidade do AR - Em tempo real -->
                <div class="row mt-3">
                  <div class="col-6">
                    <div class="card" style="background-color:#191835; color:#fff;height: 100%;">
                      <!-- <div class="card-header text-center"><h6>Umidade</h6></div> -->
                      <div class="card-body">
                        <div class="container text-center" style="background-color: #222046;margin-top:5px;height: 100%;" id="sombra2">
                          <img src="assets/img/umidade.png" width="50" height="50" style="margin-top: 10px;">
                          <span class="h6" id="umidade-ar"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Situação do clima - Em tempo real -->
                  <div class="col-6">
                    <div class="card" style="background-color:#191835; color:#fff;height: 100%;">
                      <!-- <div class="card-header text-center"><h6>Clima</h6></div> -->
                      <div class="card-body">
                        <div class="container text-center" style="background-color: #222046;margin-top:5px;height: 100%;" id="sombra2">
                          <span class="h6" id="situacao"></span>
                          <img src="assets/img/nuvem.png" width="55" height="55">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Gráfico de Temperatura -->
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;height: 100%;" id="sombra">
            <div class="card-header">
              <h6>Temperatura (ºC)</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top: 5px;height: 100%">
                <canvas style="padding:30px;" id="temperatura_hora"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- divisoria sensor A -->
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;height: 100%;" id="sombra">
            <div class="card-header">
              <h6>Umidade Atual</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;height: 100%;">
                <canvas style="padding:30px" id="sensor_a_agora"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;" id="sombra">
            <div class="card-header">
              <h6>Umidade (%)</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;">
                <canvas style="padding:30px;" id="sensor_a"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- divisoria sensor B -->
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;height: 100%;" id="sombra">
            <div class="card-header">
              <h6>Umidade Atual</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;height: 100%;">
                <canvas style="padding:30px" id="sensor_b_agora"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;" id="sombra">
            <div class="card-header">
              <h6>Umidade (%)</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;">
                <canvas style="padding:30px" id="sensor_b"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- divisoria sensor C -->
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;height: 100%;" id="sombra">
            <div class="card-header">
              <h6>Umidade Atual</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;height: 100%;">
                <canvas style="padding:30px" id="sensor_c_agora"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="background-color:#191835; color:#fff;" id="sombra">
            <div class="card-header">
              <h6>Umidade (%)</h6>
            </div>
            <div class="card-body">
              <div class="container" style="background-color: #222046;margin-top:5px;">
                <canvas style="padding:30px" id="sensor_c"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- divisoria agenda -->
    </div>
    </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <!-- <script src="./assets/js/jquery.mask.js"></script> -->
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/carregaGraficoTemperatura.js"></script>
    <script src="./assets/js/carregaSensorA.js"></script>
    <script src="./assets/js/carregaSensorB.js"></script>
    <script src="./assets/js/carregaSensorC.js"></script>
    <script src="./assets/js/config.js"></script>
    <script src="./assets/js/apiTempo.js"></script>
  </body>
</html>